<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome Back!</h1>
    <h2>Switches</h2>
    <em>*Checked state represents the switch is on and viceversa.</em>
    <em>Post modification need to click the individual save button to perform the action</em>
    {% for item in data %}
        <ul>
            {% if item.state == True %}
            <form action="" method="POST">
                {% csrf_token %}
                <li>
                    <input type="checkbox" name={{item.name}} checked>{{item.name}}</input>  
                    <button type="submit" name={{item.name}}>Save</button>                  
                </li>

            </form> 
            {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <li>
                    <input type="checkbox" name={{item.name}}>{{item.name}}</input>
                    <button type="submit" name={{item.name}}>Save</button>
                </li>
            </form>
            {% endif %}
        </ul>    
    {% endfor %}

    <h2>Pi hardware info</h2>
    <p>{{system.data}}</p>
   
</body>
</html>